.login, .register {
    padding-bottom: 50px;
    height: 100vh;
    display: flex;
    align-items: center;
    &-title {
        color: $dark;
        font-family: $ff;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -0.06px;
        margin-bottom: 20px;
        @include md-size-max {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }

    .submit {
        color: $light;
        font-family: $ff;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.25px;
        line-height: 16px;
        text-transform: uppercase;
        border: none;
        background-color: $primary;
        box-shadow: 0 1px 3px rgba($dark, 0.2), 0 2px 1px -1px rgba($dark, 0.12), 0 1px 1px rgba($dark, 0.14);
        cursor: pointer;
        padding: 13px 16px;
        display: block;
        width: 100%;
        max-width: 450px;
        margin-bottom: 20px;
        @include md-size-max {
            margin-left: auto;
            margin-right: auto;
        }
        &:focus, &:active {
            outline: none;
        }
        
            
    }

    .terms-label {
        margin-bottom: 20px;
        display: block;
        font-family: $ff;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.05px;
        line-height: 20px;
        color: $text-secondary;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
        a {
            text-decoration: underline;
            transition: color 0.3s;
            color: $dark;
            margin-left: 5px;
            &:hover {
                color: $primary;
                transition: color 0.3s;
            }
        }
    }

    .form-group {
        width: 100%;
        max-width: 450px;
        @include md-size-max {
            margin-left: auto;
            margin-right: auto;
        }   
    }

    &-cta {
        color: $text-secondary;
        font-family: $ff;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.05px;
        margin-top: 10px;
        max-width: 450px;
        @include md-size-max {
            margin-left: auto;
            margin-right: auto;
        }
        a {
            margin-left: 5px;
            color: $primary;
        }
    } 
}

