.button {
    background-color: var(--primary);
    box-shadow: 0 5px 10px rgba(var(--dark), 0.1);
    color: var(--light);
    border: none;
    border-radius: 10px;
    padding: 13px 45px;
    transition: all 0.3s;
    font-size: 14px;
    font-weight: bold;
    &:hover {
        opacity: .85;
        transition: all 0.3s;
    }
}