.income {
  display: flex;
  align-items: center;
  &-icon {
    flex: 0 0 4%;
    i {
      font-size: 30px;
    }

  }

  &-data {
    flex: 0 0 96%;
    &__row {
      display: flex;
      justify-content: space-between;
    }
  }
}