.home {
    &-footer {
        text-align: center;
        padding-bottom: 85px;
        background-image: url('../images/footer_bg.svg');
        @include xs-size-max {
            background-size: cover;
        }
        &__cta {
            max-width: 1140px;
            padding: 50px 20px;
            margin: auto;
            margin-bottom: 70px;
            background-color: $light;
            text-align: center;
            box-shadow: 10px 20px 60px rgba($dark, 0.15);
            border-radius: 15px;
            border-top: 7px solid $primary;
            @include lg-size-max {
                max-width: 750px;
            }
            @include md-size-max {
                max-width: 570px;
                padding: 20px;
            }
            @include xs-size-max {
                max-width: 320px;
                padding: 20px;
            }
            h4 {
                font-size: 24px;
                color: $dark;
                margin-bottom: 20px;
                max-width: 400px;
                margin: auto;
                margin-bottom: 15px;
            }

            p {
                color: $text-secondary;
                font-size: 16px;
                font-weight: 400;
                max-width: 400px;
                margin: auto;
                margin-bottom: 20px;
            }

            a {
                background-color: $primary;
                box-shadow: 0 5px 10px rgba($dark, 0.1);
                color: $light;
                border: none;
                border-radius: 10px;
                padding: 13px 45px;
                transition: all 0.3s;
                margin-top: 15px;
                display: inline-block;
                &:hover {
                    background-color: darken($primary, 15%);
                    transition: all 0.3s;
    }
            }
        }
        &__logo {
            padding-bottom: 70px;
        }
        &__copyright {
            text-align: center;
            color: $light;
            font-size: 16px;
            a {
                transition: all 0.3s ease-in;
                color: $primary;
                text-decoration: none;
                &:hover {
                    transition: all 0.3s ease-in;
                    color: darken($primary, 15%)
                }
            }
        }
    }
}
    