.home {
    &-header {
        background-image: url('../images/hero_bg.svg');
        background-size: cover;
        min-height: 1095px;
        background-repeat: no-repeat;
        padding-top: 50px;

        @include xl-size-max  {
            background-size: contain;
            min-height: 825px;
        }
        @include lg-size-max {
            transform: translateY(0%);
            min-height: 600px;
        }

        @include md-size-max {
            min-height: 500px;
            background-size: cover;
            margin-bottom: 90px;
            padding-bottom: 90px;
        }
        @include xs-size-max {
            margin-bottom: 0;
        }

        &__cta {
            transform: translateY(50%);
            color: $light;
            @media screen and (max-width: 1440px) {
                transform: translateY(30%);
            }
            @media screen and (max-width: 1200px) {
                transform: translateY(0%);
                margin-top: 50px;
            }
            &-image {
                img {
                    max-width: 100%;
                    height: auto;
                    border-radius: 20px;
                }
            }
            &-text {
                h1 {
                    font-size: 40px;
                    color: $light;
                    font-weight: normal;
                    line-height: 3rem;
                }
                p {
                    color: darken($light, 25%);
                    line-height: 1.5rem;
                    max-width: 490px;
                }
                
            }
        }
    }
}