.home {
    &-menu {
        display: flex;
        align-items: center;
        @media screen and (max-width: 474px) {
           margin-top: 20px;
        }
        &__list {
            display: flex;
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;
            margin-top: 0;
        }
        &__item {
            margin-left: 40px;
            @media screen and (max-width: 474px) {
                margin-left: 0;
                margin: 5px 15px;
            }
        }
        &__link {
            text-decoration: none;
            color: $light;
            font-size: 14px;
            transition: color 0.3s;
            &:hover {
                color: darken($primary, 15%);
                transition: color 0.3s;
            }
        }
        &__button {
            margin-left: 40px;
            @include xs-size-max {
                margin-left: 15px;
            }
        }
    }
}