.register {
    padding-bottom: 50px;
    padding-top: 50px;
    height: 100vh;
    display: flex;
    align-items: center;
    &-title {
        color: var(--dark);
        font-family: var(--primary-font);
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -0.06px;
        margin-bottom: 20px;
        @media (max-width: 991px) {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }

    .terms-label {
        margin-bottom: 20px;
        display: block;
        font-family: var(--primary-font);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.05px;
        line-height: 20px;
        color: var(--text-secondary);
        max-width: 450px;
        margin-top: -10px;
        @media (max-width: 991px) {
            margin-left: auto;
            margin-right: auto;
        }
       
        a {
            text-decoration: underline;
            transition: color 0.3s;
            color: var(--dark);
            margin-left: 5px;
            &:hover {
                color: var(--primary);
                transition: color 0.3s;
            }
        }
    }

    .form-group {
        width: 100%;
        max-width: 450px;
        @media (max-width: 991px) {
            margin-left: auto;
            margin-right: auto;
        }  
    }

    &-cta {
        color: var(--text-secondary);
        font-family: var(--primary-font);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.05px;
        margin-top: 10px;
        max-width: 450px;
        @media (max-width: 991px) {
            margin-left: auto;
            margin-right: auto;
        }
        a {
            margin-left: 5px;
            color: var(--primary);
        }
    } 
}

