.home {
    &-footer {
        text-align: center;
        padding-bottom: 85px;
        background-image: url('../../../assets/images/footer_bg.svg');
        @media screen and (max-width: 576px) {
            background-size: cover;
        }
        &__cta {
            max-width: 1140px;
            padding: 50px 20px;
            margin: auto;
            margin-bottom: 70px;
            background-color: var(--light);
            text-align: center;
            box-shadow: 10px 20px 60px rgba(var(--dark), 0.15);
            border-radius: 15px;
            border-top: 7px solid var(--primary);
            @media screen and (max-width: 1199px) {
                max-width: 750px;
            }
            @media screen and (max-width: 991px) {
                max-width: 570px;
                padding: 20px;
            }
            @media screen and (max-width: 576px) {
                max-width: 320px;
                padding: 20px;
            }
            h4 {
                font-size: 24px;
                color: var(--dark);
                margin-bottom: 20px;
                max-width: 400px;
                margin: auto;
                margin-bottom: 15px;
            }

            p {
                color: var(--text-secondary);
                font-size: 16px;
                font-weight: 400;
                max-width: 400px;
                margin: auto;
                margin-bottom: 20px;
            }

            a {
                background-color: var(--primary);
                box-shadow: 0 5px 10px rgba(var(--dark), 0.1);
                color: var(--light);
                border: none;
                border-radius: 10px;
                padding: 13px 45px;
                transition: all 0.3s;
                margin-top: 15px;
                display: inline-block;
                &:hover {
                    opacity: .85;
                    transition: all 0.3s;
    }
            }
        }
        &__logo {
            padding-bottom: 70px;
        }
        &__copyright {
            text-align: center;
            color: var(--light);
            font-size: 16px;
            a {
                transition: all 0.3s ease-in;
                color: var(--primary);
                text-decoration: none;
                &:hover {
                    transition: all 0.3s ease-in;
                    color: rgba(var(--primary), 0.8);
                }
            }
        }
    }
}
    