.dashboard {
    display: flex;
    min-height: 100vh;
    @include sm-size-max {
        flex-wrap: wrap;
        height: 50vh;
    }
    
    &-main {
        padding: 34px 48px;
        background-color: #edeff2;
        flex: 1;
        
    }

    &-logo {
        margin-bottom: 28px;
        display: block;
        @include sm-size-max {
            margin-bottom: 10px;
        }
    }     
}

@import 'sidebar';
@import 'nav';
@import 'top-bar';
@import 'bottom-bar';
@import 'overview';