.dashboard-overview {
    &__balances {
        margin-top: 30px;
        &-title {
            color: $text-secondary;
            font-family: $ff;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            opacity: 0.8;
        }
        &-period {
            position: relative;
            i {
                position: absolute;
                z-index: 5;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
                color: $text-secondary;
                font-weight: 600;
            }
        }
       

        
    }

    &__activity {
        background-color: $light;
        padding: 24px;
        border-radius: 16px;

        &-title {
            color: $text-secondary;
            font-family: $ff;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        &-options {
            i {
                cursor: pointer;
                color: $text-secondary;
            }
        }
        &-more {
            color: $text-secondary;
            font-family: $ff;
            font-size: 12px;
            font-weight: 600;
            border-radius: 10px;
            background-color: rgba(#dce1ee, .4);
            padding: 7px;
            cursor: pointer;
            border: none;
            width: 100%;
        } 

        .activity {
            margin-bottom: 24px;
            background-color: $light;
            @include sm-size-max {
                border-bottom: 1px solid $light-grey;
                padding-bottom: 15px;
            }
            &-content {
                width: 100%;
                &__title {
                    color: $text-primary;
                    font-family: $ff;
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 4px;
                }
                &__date {
                    color: $light-grey;
                    font-family: $ff;
                    font-size: 12px;
                    font-weight: 400;
                }

                &__amount {
                    color: $primary;
                    font-family: $ff;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 4px;
                    
                    &.red {
                        color: $secondary;
                    }
                    &.green {
                        color: $primary;
                    }
                    .currency {
                        color: $text-primary;
                        font-family: $ff;
                        font-size: 13px;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-left: 5px;
                    }
                }

                &__account {
                    color: $light-grey;
                    font-family: $ff;
                    font-size: 12px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
                &__spendings {
                    text-align: right;
                    @include sm-size-max {
                        margin-top: 7px;
                        width: 100%;
                    }
                }
                &__info {
                    @include sm-size-max {
                        width: 100%;
                    }
                }
            }
            &-icon {
                @include sm-size-max {
                    display: none;
                }
               flex-basis: 50px;
                i {
                    font-size: 26px;
                    color: $text-primary;
                }
            }
        }
    }


}