@import './vars';
@import './mixins';

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $ff;
}

button {
    cursor: pointer;
    &:focus, &:active {
        outline: none;
    } 
}

a {
    text-decoration: none;
}

@import './elements';

@import './home/menu';
@import './home/header';
@import './home/logo';
@import './home/features';
@import './home/benefits';
@import './home/footer';


@import './dashboard/dashboard';