@import './vars';
@import './mixins';

:root {
    --text-primary: #565682;
    --text-secondary: #9191af;

    --primary: #14b45c;
    --primary-dark: #124127;
    --secondary: #e35f4b;

    --light: #ffffff;
    --dark: #212145;
    --light-grey: #c7cfe4;

    --primary-font: 'Lato', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--primary-font);
}

button {
    cursor: pointer;
    &:focus, &:active {
        outline: none;
    } 
}

a {
    text-decoration: none;
}

.dropdown {
    position: absolute;
    width: 100%;
    min-width: 200px;
    list-style: none;
    border-radius: 10px;
    background-color: var(--light);
    transition: all 0.5s;
    overflow: hidden;
    a, span {
        display: block;
        margin-bottom: 5px;
        color: var(--text-primary);
        font-size: 1rem;
        font-family: var(--primary-font);
        font-weight: 600;
        padding: 7px 10px;
        position: relative;
        z-index: 2;
        transition: all 0.5s;
        &:hover {
            color: var(--primary);
        }
    }
}

.submit {
    color: var(--light);
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 16px;
    text-transform: uppercase;
    border: none;
    background-color: var(--primary);
    box-shadow: 0 1px 3px rgba(var(--dark), 0.2), 0 2px 1px -1px rgba(var(--dark), 0.12), 0 1px 1px rgba(var(--dark), 0.14);
    cursor: pointer;
    padding: 13px 16px;
    display: block;
    width: 100%;
    max-width: 450px;
    margin-bottom: 20px;
    @media screen and (max-width: 991px) {
        margin-left: auto;
        margin-right: auto;
    }
    &:focus, &:active {
        outline: none;
    }
    
        
}

@import './dashboard/dashboard';
@import './material_fields';