.cost {
  display: flex;
  align-items: center;
  &-icon {
    flex: 0 0 4%;
    margin-right: 10px;
    @media screen and (max-width: 768px){
      display: none;
    }
    i {
      font-size: 30px;
    }
  }

  &-data {
    flex: 0 0 96%;
    &__row {
      display: flex;
      justify-content: space-between;
    }
  }
}